@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --theme: 100;
        --theme-contrast: 30%;
        --color-theme-50:  calc(var(--theme)) var(--theme-contrast) 95.1%;
        --color-theme-100: calc(var(--theme)) var(--theme-contrast) 93.1%;
        --color-theme-200: calc(var(--theme)) var(--theme-contrast) 86%;
        --color-theme-300: calc(var(--theme)) var(--theme-contrast) 74.4%;
        --color-theme-400: calc(var(--theme)) var(--theme-contrast) 60.1%;
        --color-theme-500: calc(var(--theme)) var(--theme-contrast) 46.9%;
        --color-theme-600: calc(var(--theme)) var(--theme-contrast) 39.5%;
        --color-theme-700: calc(var(--theme)) var(--theme-contrast) 30.5%;
        --color-theme-800: calc(var(--theme)) var(--theme-contrast) 20.5%;
        --color-theme-900: calc(var(--theme)) var(--theme-contrast) 9.2%;
        --color-theme-950: calc(var(--theme)) var(--theme-contrast) 6%;
    }
}